<header>
    <a href="{{ path('app_home_page') }}">
        <img src="/images/logo.png" alt="Page principale" />
    </a>

    <div>
        <a href="{{ path('app_recipe_new') }}">Créer une recette</a>
        {% if app.user %}
            <a href="{{ path('app_user_favorites') }}">Favoris</a>
        {% endif %}
        <a href="{{ path('app_home_page') }}">Mes plats de la semaine</a>
    </div>

    {% if app.user %}
        {% if is_granted('ROLE_EDITOR') %}
            <a href="{{ path('app_ingredient_index') }}" class="btn btn-editor">Gestion</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin_dashboard') }}" class="btn btn-admin">Admin</a>
        {% endif %}
        <a href="{{ path('app_user_profile') }}" class="btn btn-orange">{{ app.user.pseudo }}#{{ app.user.pseudoId }} </a>
    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-orange">Se connecter</a>
    {% endif %}
</header>
