{% extends 'base.html.twig' %}

{% block title %}Nouvel ingrédient{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Ajouter un ingrédient</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom, { label: 'Nom', attr: { class: 'form-control' } }) }}
        {{ form_row(form.categories) }}

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Ajouter</button>
            <a href="{{ path('app_ingredient_index') }}" class="btn btn-secondary">Annuler</a>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
