{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% if app.session.flashbag.has('success') %}
            <div role="alert">
                {% for message in app.session.flashbag.get('success') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <h1>Salut {{ user.firstName }} {{ user.lastName }}</h1>

        <div>
            <a href="{{ path('app_user_edit') }}">Modifier mon profil</a>
        </div>

        <div>
            <a href="{{ path('app_user_delete') }}">Supprimer mon compte</a>
        </div>

        {#        mes recettes#}
        {#        plat like#}
        {#        utilisateur suivie#}
    </div>
{% endblock %}
