{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% if app.session.flashbag.has('success') %}
            <div role="alert">
                {% for message in app.session.flashbag.get('success') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <h1>Salut {{ user.firstName }} {{ user.lastName }}</h1>

        <div>
            <a href="{{ path('app_user_edit') }}">Modifier mon profil</a>
        </div>

        <div>
            <a href="{{ path('app_user_delete') }}">Supprimer mon compte</a>
        </div>

        <div>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>

        <div>
            <h2>Mes recettes</h2>
            <a href="{{ path('app_recipe_new') }}">+ Créer une recette</a>

            {% if recipes is empty %}
                <p>Vous n'avez pas encore créé de recette.</p>
            {% else %}
                <ul>
                    {% for recipe in recipes %}
                        <li>
                            <a href="{{ path('app_recipe_show', { id: recipe.id }) }}">{{ recipe.title }}</a>
                            —
                            <a href="{{ path('app_recipe_edit', { id: recipe.id }) }}">Modifier</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {#        plat like#}
        {#        utilisateur suivie#}
    </div>
{% endblock %}
